.marked {
    background-color: yellow;
}
h1 {
    font-size: 31px;
    font-weight: 400;
    margin-top: 50px;
}

h2 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
}
h3 {
    margin-top: 30px;
    font-weight: 400;
    font-size: 19px;
}
a {
    color: rgb(0, 102, 255);
}

body {
    width: 528px;
    padding-left: 80px;
    font-family: Arial;
    font-size: 13px;
}
.marked {
    margin-left: 40px;
}
